<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    <title>sonas</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/themify-icons/css/themify-icons.css')}}">
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="{{url_for('static',filename = 'css2/rubic.css')}}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><strong class="text-primary">SO</strong><span class="text-light">NAS</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-capitalize" href="/">accueil</a>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#review">Reviews</a>
                    </li-->
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" href="/secret">Code</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="header d-flex justify-content-center">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-md-7">
                    <div class="header-content">
                        <h3 class="header-title"><strong class="text-primary text-font-weight-bolder">SO</strong><span>NAS</span></h3>
                        <h4 class="header-subtitle">Enregistrement des agents </h4>
                        
                        <p class='text-danger'> Pour passe a l'enregistrement des agents il est structement obligatoire d'avoir des acces ,les personnes requis sont le secretaire ,archiviste dont le role est de verifie les  archives et pour clore adminstrateur qui aura toutes les acces  </p>
                        <a class="btn btn-outline-light btn-flat" href='/secret'>Code</a>
                        
                    </div>  
                </div>
                <div class="col-md-5 d-none d-md-block">
                    <form class="header-form" >
                        <div class="head">Nous<span class="text-dark"> contacte</span>  today.</div>
                        <div class="body">
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder="Name*">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email*">
                            </div>
                            <!--div class="form-group">
                                <input type="password" class="form-control" placeholder="Password*">
                            </div-->
                        </div>
                        <div class="footer">
                            <button class="btn btn-primary btn-block">contact</button>
                        </div>
                    </form> 
                </div>
            </div>  
        </div>
    </header>
   
   
  
	
	<!-- core  -->
    <script src="{{url_for('static',filename ='vendors/jquery/jquery-3.4.1.js')}}"></script>
    <script src="{{url_for('static',filename = 'vendors/bootstrap/bootstrap.bundle.js')}}"></script>
    <!-- bootstrap 3 affix -->
	<script src="{{url_for('static',filename = 'vendors/bootstrap/bootstrap.affix.js')}}"></script>

    <!-- Rubic js -->
    <script src="{{url_for('static',filename = 'js2/rubic.js')}}"></script>

</body>
</html>
