{% extends 'base.html'%}
{%block title%} secretaire {% endblock %}

{% block menu %}{%endblock%}  

{% block body %}

<section class='presentation'>
    
        <a href='' class='btn btn-outline-warning text-uppercase'>profil user</a>  
        <a href='' class='btn btn-outline-danger ml-4 text-uppercase'>deconnexion</a> 
   
</section>


   
      
        <section class="container  all_sec shadow-lg mt-5 p-5 mb-5 bg-white rounded " >

            {% with messages = get_flashed_messages()%}
            {%if messages %}
            {%for i in messages %}
            <div class='alert alert-success'>{{i}}</div>
            {%endfor%}
            {%endif%}
            {%endwith%}
         
            <form method ='post' action='/secretaire_send'>
           <div class="row ">
             <!-- prenom -->
             <div class="col">
               <input type="text"  name="nom"class="form-control mt-2" placeholder="nom" >
             </div>
             <!-- adresse -->
             <div class="col">
               <input type="text" name="postnom" class="form-control mt-2"  placeholder="postnom">
             </div>
           </div>

           <div class="row ">
            <!-- prenom -->
            <div class="col">
              <input type="text"  name="prenom"class="form-control mt-2" placeholder="prenom" >
            </div>
            <!-- adresse -->
            <div class="col">
                <select name = 'sexe' class='form-control mt-2'><option value='M'>masculin</option> <option value='F'>feminin</option></select>
            </div>
          </div>

          <div class="row ">
            <!-- prenom -->
            <div class="col">
              <input type="text"  name="adresse"class="form-control mt-2" placeholder="adresse" >
            </div>
            <!-- adresse -->
            <div class="col">
                 <select name = 'commune' class='form-control mt-2'>{%for i in on%}<option value='{{i[0]}}'>{{i[1]}}</option> {%endfor%}</select>
            </div>
          </div>

          <div class="row ">
            <!-- prenom -->
            <div class="col">
              <input type="tel"  name="phone"class="form-control mt-2" placeholder="phone" >
            </div>
            <!-- adresse -->
            <div class="col">
                 <select name = 'departement' class='form-control mt-2'>{%for i in two%}<option value='{{i[0]}}'>{{i[1]}}</option>{%endfor%}</select>
            </div>
          </div>
  
   
         <button type="submit" class="btn  btn-primary mt-3 ">{{'enregistre'.upper()}}</button>
         
        </form>
       
      
</section>

{%endblock%}

