{% extends 'base.html'%}

{% block title %}secret enter {% endblock %}

{% block body %}
    <section class='body_all'>
        <section class='body_flex'>
            {% with messages = get_flashed_messages() %}
            {%if messages%}
            {%for i in messages %}
            <h3 class='alert alert-danger'>{{i}}</h3>
            {%endfor%}
            {%endif %}
            {%endwith%}
            <h3 class='body_text'>co<span class='text-info'>de</span> sec<span class='text-info'>ret</span></h3>
            <form class='body_form' method='post' action = '/secret_verify' >
                
                <input type='password' placeholder='entrez le mot de passe please' name ='code' class='body_input'>
                <input type='submit' value='validation' class='body_submit  mt-3 shadow-lg  mb-4 bg-white rounded btn btn-sm-danger'>

            </form>
        </section>
    </section>
{%  endblock %} 